<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="todo_v2">
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 60%">Заголовок</th>
            <th style="width: 5%">Изменить</th>
            <th style="width: 5%">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="toDo : ${list}">
            <td>
                <p class="h4" th:text="${toDo.name}"></p>
                <p th:text="${toDo.description}"></p>
            </td>

            <td style="text-align: center; vertical-align: middle;">
                <form action="#" th:action="@{'/{id}'(id=${toDo.id})}" th:method="get">
                    <button type="submit" id="editButton" class="button_no_border">
                        <img><i class="fa fa-edit" style="font-size:20px"></i>
                    </button>
                </form>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <form action="#" th:action="@{'/delete/{id}'(id=${toDo.id})}" th:method="delete">
                    <button type="submit" id="deleteButton" class="button_no_border">
                        <img><i class="fa fa-trash" style="font-size:20px"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>